body {
    min-height: 100vh;
    margin: 0;
}

#score {
    font-size: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#player {
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: calc(100% - 100px);
}

#tryAgainBtn {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    width: 5em;
    height: 3em;
    left: calc(50% - (5em / 2));
    top: calc(50% - (3em / 2));
    background-color: Transparent;
    outline: none;
    border: none;
    font-size: 5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tryAgainBtn:hover {
    color: green;
}

.collectable {
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: chartreuse;
    top: 50%;
    left: 50%;
}

.platform {
    width: 300px;
    height: 30px;
    background-color: black;
    position: absolute;
    z-index: 0;
}
