body {
    min-height: 100vh;
    margin: 0;
}

#player {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
}

.plattform {
    width: 300px;
    height: 30px;
    background-color: black;
    position: absolute;
}