<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hack'n'Dash</title>
        <link rel="stylesheet" href="css/game.css">       

		<script type="module" src="js/Main.js"></script>

		
	</head>
	<body>
		<div id="score">
			Score: 0
		</div>
		<div id="gameover">
			<p>
				Game Over!
			</p>
			<p id="finalscore">
				Score:
			</p>
			<button id="tryAgainBtn" onclick="reloadGame()">Try Again</button>
			<a href="login">

                <div>
                    <p>
                        Main Menu
                    </p>
                </div>
            </a>
		</div>
		<div id="gamescreen">
			<div id="collectables">
			</div>
			<div id="enemies">
			</div>
			<div id="platforms">
			</div>

		</div>
    </body>
</html>