<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Hack'n'Dash</title>

        <link rel="stylesheet" href="resources/css/index.css">       

		<!--<script src="resources/javascript/responsive.js"></script>-->
	</head>
	<body>

    <h1>LEADERBOARD</h1>
        <main>
<table id="LeaderBoard">
  <tr>
    <th></th>
    <th>User</th>
    <th>Score</th>
    <th>Time</th>
  </tr>
  <% entries.forEach((entry, index) => { %>
  <tr>
    <th>
      <%= index + 1 %>.
    </th>
    <th>
      <%= entry.user %>
    </th>
    <th>
      <%= entry.score %>
    </th>
    <th>
      <%= entry.time %>
    </th>
  </tr>
  <% }) %>

</table>
        </main>
    </body>
</html>