<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Hack'n'Dash</title>

        <link rel="stylesheet" href="css/highscore.css">       

		<!--<script src="resources/javascript/responsive.js"></script>-->
	</head>

  <div class = "wrapper">
    <section>
      <div class="row">
        <div>
          <label>ア</label>
          <label>カ</label>
          <label>サ</label>
          <label>タ</label>
          <label>ナ</label>
          <label>ハ</label>
          <label>マ</label>
          <label>ヤ</label>
          <label>ラ</label>
          <label>ネ</label>
          <label>ズ</label>
          <label>ペ</label>
          <label>ポ</label>
          <label>ヨ</label>
          <label>モ</label>
          <label>ホ</label>
      </div>
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
      </div>
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
      </div>
    </div>
    <div class="row">
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
    </div>
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
    </div>
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
  </div>
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
  </div>
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
  </div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
    </section>

	<body>
<div class="center">
        <main>
<table id="LeaderBoard">
  <tr id="tableHead">
    <th></th>
    <th>User</th>
    <th>Score</th>
    <th>Time</th>
  </tr>
  <% entries.forEach((entry, index) => { %>
  <tr>
    <th>
      <%= index + 1 %>.
    </th>
    <th>
      <%= entry.user %>
    </th>
    <th>
      <%= entry.score %>
    </th>
    <th>
      <%= entry.time %>
    </th>
  </tr>
  <% }) %>

</table>
        </main>      
  <div>
    <form action='/' method= 'GET'>
      <button type= "Submit">Return</button>
    </form>
  </div>
</div>
</div>
    </body>
</html>