<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Hack'n'Dash</title>

        <link rel="stylesheet" href="resources/css/index.css">       

		<!--<script src="resources/javascript/responsive.js"></script>-->
	</head>
	<body>

    <h1>LEADERBOARD</h1>
        <main>
<table id="LeaderBoard">
  <tr>
    <th></th>
    <th>User</th>
    <th>Score</th>
    <th>Time</th>
  </tr>
  <tr id="tr01">
    <th>01</th>
   
  </tr>
  <tr id="tr02">
    <th>02</th>
    
  </tr>
  <tr id="tr03">
    <th>03</th>
    
  </tr>
  <tr id="tr04">
    <th>04</th>
  
  </tr>
  <tr id="tr05">
    <th>05</th>
  
  </tr>
  <tr id="tr06">
    <th>06</th>
   
  </tr>
  <tr id="tr07">
    <th>07</th>
   
  </tr>
  <tr id="tr08">
    <th>08</th>
   
  </tr id="tr09">
  <tr>
    <th>09</th>
 
  </tr>
  <tr id="tr10">
    <th>10</th>
  
  </tr>


</table>
        </main>
    </body>
</html>