<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hack'n'Dash</title>
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <div class = "wrapper">
    <section>
      <div class="row">
        <div>
          <label>ア</label>
          <label>カ</label>
          <label>サ</label>
          <label>タ</label>
          <label>ナ</label>
          <label>ハ</label>
          <label>マ</label>
          <label>ヤ</label>
          <label>ラ</label>
          <label>ネ</label>
          <label>ズ</label>
          <label>ペ</label>
          <label>ポ</label>
          <label>ヨ</label>
          <label>モ</label>
          <label>ホ</label>
      </div>
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
      </div>
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
      </div>
    </div>
    <div class="row">
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
    </div>
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
    </div>
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
  </div>
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
  </div>
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
  </div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
    </section>

  <body>
<div class="center">
<h1>Willkommen <%= name %>!</h1>
<form action="/game" method="GET">
  <div class="game">
  <button type="submit">Spielen</button>
</form>
<form action="/logout?_method=DELETE" method="POST">
  <div class="signout">
  <button type="submit">Ausloggen</button>
</div>
</form>
</a>
</div>
</body>
</div>
</html>