<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hack'n'Dash</title>
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
<main>
<h1><%= name %>s Milz verbrennt zu Asche wie seine Träume.</h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Reinkarnation</button>
</form>

<a href="/game">
  <div>
      <p>
          Hack
      </p>
  </div>
</a>

</main>
</body>
</html>