<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Hack'n'Dash</title>

        <link rel="stylesheet" href="resources/css/index.css">       

		<script src="resources/javascript/profile.js"></script>
	</head>
  <h1></h1>
	<body>
        <main>
          <div>
            <p>Games played: </p>
            <%= entry.gamesplayed %>
          </div>
          <table id="statsTable">
            <tr>
              <th></th>
              <th>Score</th>
              <th>Time</th>
            </tr>
            <% entries.forEach((entry, index) => { %>
              <tr>
                <th>
                  <%= index + 1 %>.
                </th>
                <th>
                  <%= entry.score %>
                </th>
                <th>
                  <%= entry.time %>
                </th>
              </tr>
              <% }) %>
          </table>
        </main>
    </body>
</html>