<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Hack'n'Dash</title>

        <link rel="stylesheet" href="resources/css/index.css">       

		<script src="resources/javascript/profile.js"></script>
	</head>
  <h1></h1>
	<body>
        <main>
          <div>
            <p>Games played:</p>
            <p id="gamesPlayed"></p>
          </div>
          <table id="statsTable">
            <tr>
              <th></th>
              <th>Score</th>
              <th>Time</th>
            </tr>
           <!-- <tr>
              <th>01</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>02</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>03</th>
              <th></th>
              <th></th>
            </tr>-->
          </table>
        </main>
    </body>
</html>