<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hack'n'Dash</title>
    <link rel="stylesheet" href="css/register.css">
  </head>
  <div class = "wrapper">
    <section>
      <div class="row">
        <div>
          <label>ア</label>
          <label>カ</label>
          <label>サ</label>
          <label>タ</label>
          <label>ナ</label>
          <label>ハ</label>
          <label>マ</label>
          <label>ヤ</label>
          <label>ラ</label>
          <label>ネ</label>
          <label>ズ</label>
          <label>ペ</label>
          <label>ポ</label>
          <label>ヨ</label>
          <label>モ</label>
          <label>ホ</label>
      </div>
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
      </div>
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
      </div>
    </div>
    <div class="row">
      <div>
        <label>ア</label>
        <label>カ</label>
        <label>サ</label>
        <label>タ</label>
        <label>ナ</label>
        <label>ハ</label>
        <label>マ</label>
        <label>ヤ</label>
        <label>ラ</label>
        <label>ネ</label>
        <label>ズ</label>
        <label>ペ</label>
        <label>ポ</label>
        <label>ヨ</label>
        <label>モ</label>
        <label>ホ</label>
    </div>
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
    </div>
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>ア</label>
      <label>カ</label>
      <label>サ</label>
      <label>タ</label>
      <label>ナ</label>
      <label>ハ</label>
      <label>マ</label>
      <label>ヤ</label>
      <label>ラ</label>
      <label>ネ</label>
      <label>ズ</label>
      <label>ペ</label>
      <label>ポ</label>
      <label>ヨ</label>
      <label>モ</label>
      <label>ホ</label>
  </div>
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
  </div>
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
  </div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
<div class="row">
  <div>
    <label>ア</label>
    <label>カ</label>
    <label>サ</label>
    <label>タ</label>
    <label>ナ</label>
    <label>ハ</label>
    <label>マ</label>
    <label>ヤ</label>
    <label>ラ</label>
    <label>ネ</label>
    <label>ズ</label>
    <label>ペ</label>
    <label>ポ</label>
    <label>ヨ</label>
    <label>モ</label>
    <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
<div>
  <label>ア</label>
  <label>カ</label>
  <label>サ</label>
  <label>タ</label>
  <label>ナ</label>
  <label>ハ</label>
  <label>マ</label>
  <label>ヤ</label>
  <label>ラ</label>
  <label>ネ</label>
  <label>ズ</label>
  <label>ペ</label>
  <label>ポ</label>
  <label>ヨ</label>
  <label>モ</label>
  <label>ホ</label>
</div>
</div>
    </section>
  <body>
<div class="center">
<h1>Register</h1>
<form action="/register" method="POST">
    <div class ="txt_field">
      <input type="text" id="name" name="name" required>
      <span></span>
      <label for="name">Name</label>
    </div>
    <div class ="txt_field">
      <input type="email" id="email" name="email" required>
      <label for="email">Email</label>
      <span></span>
    </div>
    <div class ="txt_field">
      <input type="password" id="password" name="password" required>
      <label for="password">Password</label>
      <span></span>
    </div>
    <button type="submit">Register</button>
  </form>
  <div class ="signup">
  Bereits Mitglied? <a href="/login">Login</a>
</div>
  </body>
  </div>
  </div>
</html>