<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Hack'n'Dash</title>

        <link rel="stylesheet" href="css/tutorial.css">       

		<!--<script type="module" src="js/Main.js"></script>-->
		
	</head>
	<body>
		<div id="tutorial">
			<p>
				Use the arrowkeys to move.
			</p>
            <img src="images/arrowkeys.png" alt="arrowkeys">
            <p>
				Collect green dots to gain more points.
			</p>
            <img src="images/greenDot.png" alt="green dot">
            <p>
				If you touch the ground or a red dot the game is over.
			</p>
            <img src="images/redDot.png" alt="red dot">
            <img src="images/ground.png" alt="ground">
			<a href="index.html">
                <img src="images/back.png" alt="back">
            </a>
		</div>
    </body>
</html>