@font-face {
    font-family: "AdvancedPixel";
    src: url("../fonts/advanced_pixel-7.ttf");
}


body {
    min-height: 100vh;
    margin: 0;
    background: repeating-linear-gradient(
        #44444480,
        #44444480 5px,
        #33333380 5px,
        #33333380 10px
      );
}

#score {
    font-size: 3em;
    font-weight: bold;
    font-family:"AdvancedPixel";
    padding-left: 0.5em;
}

#player {
    z-index: 1;
    width: 50px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: calc(100% - 100px);
}

#gameover {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: calc(50% - (5em / 2));
    top: calc(30% - (3em / 2));
    font-size: 5em;
    font-family:"AdvancedPixel";
    text-align: center;
    font-weight: bold;
}

#tryAgainBtn {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    width: 5em;
    height: 3em;
    left: calc(50% - (5em / 2));
    top: calc(50% - (3em / 2));
    background-color: Transparent;
    outline: none;
    border: none;
    font-size: 5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tryAgainBtn:hover {
    color: green;
}

#gameover p {
    margin: 0px;
}

#gameover a {
    text-decoration: none;
    color: black;
}

#gameover a:hover {
    color: green;
}

#gameover button {
    background-color: Transparent;
    outline: none;
    border: none;
    font-family:"AdvancedPixel";
    font-size: 1em;
    font-weight: bold;
}

#gameover button:hover {
    cursor: pointer;
    color: green;
}

/*#console {
    width: calc(100% - 0.6em);
    position: absolute;
    bottom: 0px;
    background-color: black;
    border-width: 0.3em;
    border-color: white;
    border-style: solid;
}*/

.collectable {
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: chartreuse;
    top: 50%;
    left: 50%;
}

.platform {
    width: 300px;
    height: 30px;
    background-color: black;
    position: absolute;
    z-index: 0;
    /*border-width: 0.3em;
    border-color: white;
    border-style: solid;*/
    font-family: "AdvancedPixel";
    font-size: 2em;
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5px;
}